{% load static %}
<!-- Jquery JS-->
<script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
<!-- Bootstrap JS-->
<script src='{% static "vendor/popper.js/popper.min.js" %}'></script>
<script src='{% static "vendor/bootstrap/bootstrap.min.js" %}'></script>
<!-- Vendor JS-->
<script src='{% static "vendor/slick/slick.min.js" %}'></script>
<script src='{% static "vendor/animsition/animsition.min.js" %}'></script>
<script src='{% static "vendor/waypoints/jquery.waypoints.min.js" %}'></script>
<script src='{% static "vendor/jquery.counterup/jquery.counterup.min.js" %}'></script>
<script src='{% static "vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}'></script>
<script src='{% static "vendor/wowjs/wow.min.js" %}'></script>
<script src='{% static "vendor/validator/validator.min.js" %}'></script>
<script src='{% static "js/config-contact.js" %}'></script>

<!-- Main JS-->
<script src='{% static "js/global.js" %}'></script>

